# Ignore dependency files.
*.d
*.dep
*.inc

# Ignore object files.
*.o
*.obj

# Ignore libraries and executables.
*.a
*.so
*.dll
*.lib
*.exe
*.exp
bundle
ciyam_client
ciyam_interface
ciyam_server
construct
diff
diffp
dump
extract
generate_commands
modeller
test
test_cache
test_fcgi
test_numeric
test_ods
test_parser
test_pdf_gen
test_sql
unbundle
upload
xrep
xvars

# Ignore temporary files
~*
*.sav

# Ignore generated header files.
*.cmh

# Ignore log files.
*.log

# Ignore generated compile script.
compile.sh
compile.bat

# Ignore makefile generation temp files.
makefile.sio
makefile.vars.xrep

# Ignore customised environment init file.
ciyam_init_cmd.bat

# Except libraries that are included in the repository.
!iconv.dll
!iconv.lib
!libfcgi.dll
!libfcgi.lib
!libhpdf.dll
!libhpdf.lib
!libmySQL.dll
!libmysql.lib
!libpng13.dll
!zlib.dll
!zlib1.dll
!zlib1.lib

