bundle v0.1d
usage: bundle [-0|-1|-9] [-d]|[-r [-p]] [-q[q]] [-b64|-esc] [-ngz] <fname> [<fspec1> [<fspec2> [...]]] [-x <fspec1> [...]]

where: -0/-1/-9 is used for setting zero/fastest/best compression level
  and: -d is to delete matching files which exist in an existing bundle
  and: -r is to recurse sub-directories (-p to prune empty directories)
  and: -q for quiet mode (-qq to suppress all output apart from errors)
  and: -b64/-esc stores file data using b64/esc encoding for text lines
  and: -ngz in order to not preform zlib compression
 also: -x identifies one or more filespecs that are to be excluded
