html
{
   height: 100%;
   min-height: 100%;
}

pre
{
   font-family: console,courier,monospace;
   font-size: 10pt;
}

body
{
   font-family: verdana,helvetica;
   font-size: 12px;
   padding: 0px;
   margin: 0px;
   height: 100%;
   min-height: 100%;
   background: #ccc;
}

.visible
{
   visibility: visible;
}

.invisible
{
   visibility: hidden;
}

a
{
   text-decoration: underline;
   color: #222;
}

#content
{
   width: 100%;
   border: 0px solid red;
   margin: 0px auto;
   text-align: center;
   min-height: 100%;
   height: auto !important;
   height: 100%;
}

#normal_content
{
   background-image: url(background.png);
   background-repeat: repeat-y;
   background-position: center;
   position: absolute;

   width: 100%;
   border: 0px solid #000;
   height: auto !important;
   height: 100%;
   min-height: 100%;

   top: 0px;
   left: 0px;
}

/* NAVBAR */
#navband
{
   width: 973px;
   height: 35px;
   background-color: #018611;
   border-top: 1px solid #666;
   border-bottom: 1px solid #666;
   left: 0px;
   position: relative;
   top: 0px;
   margin: 0px auto;
   background: url(navbar.png) center repeat-x;
}

#nav
{
   width: 98%;
   margin: 0px auto;
   border: 0px solid #000;
   text-align: left;
   font-size: 12px;
   color: #fff;
   height: 35px;
}

#uselects
{
   margin-top: 5px;
   float: left;
   border: 0px solid #000;
}

#uselects a
{
   color: #fff;
}

#uselects select
{
   font-size: 12px;
}

#nav #username
{
   margin-top: 10px;
   float: right;
   border: 0px solid #000;
}

#nav #username a
{
   color: #fff;
}
/* END NAVBAR */

#header
{
   background-color: #b9beba;
   border: 0px solid red;
   width: 974px;
   margin: 0px auto;
   background: url(background_header.png) top repeat-y;
}

#remainder
{
   width: 990px;
   _height: 82%; /* KLUDGE: for display using IE 6 */
   border: 0px solid red;
   margin: 0px auto;
}

#print_remainder #main
{
   width: 100%;
}

#print_remainder
{
   width: 80%;
}

.clear
{
   clear: both;
}

#main
{
   text-align: left;
   border: 0px solid #000;
   width: 100%;
   margin-top: 15px;
   margin-right: 20px;
   padding-bottom: 40px;
}

#main h2
{
   border-bottom: 1px solid #bbb;
   color: #ff6600;
   line-height: 35px;
   margin: 0px;
   padding: 0px;
   margin-bottom: 15px;
}

#main #text
{
   margin: 60px;
}

.editdetails
{
   font-size: 12px;
   position: relative;
   float: right;
   top: -12px;
}

.editdetails a
{
   color: #803305;
}

p.caption
{
   font-weight: bold;
}

tbody textarea
{
   width: 100%;
}

select.small
{
   font-size: 10px;
}

select.smaller
{
   font-size: 6px;
}

select.large
{
   font-size: 16px;
}

select.larger
{
   font-size: 20px;
}

input.small
{
   font-size: 10px;
}

input.smaller
{
   font-size: 6px;
}

input.large
{
   font-size: 16px;
}

input.larger
{
   font-size: 20px;
}

input.textinput
{
   width: 100%;
}

input.error
{
   background-color: #f00
}

input.texterror
{
   width: 100%;
   background-color: #f00;
}

td.error
{
   color: red;
   font-weight: bold;
}

a.button
{
   background-color: #ccc;
   border: 1px solid #999;
   padding: 3px 20px;
   text-decoration: none;
   margin: 0px;
   color: #555;
   font-weight: bold;
}

.left_indent
{
   float: left;
   padding-left: 20pt;
   padding-right: 10pt;
   clear: left;
}

.right_indent
{
   float: right;
   padding-left: 10pt;
   padding-right: 20pt;
   clear: right;
}

.center_indent
{
   display: block;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20pt;
   padding-right: 20pt;
   clear: both;
}

td { text-align: left; }
td.right { text-align: right; }
td.center { text-align: center; }
td.justify { text-align: justify; }

td.small
{
   font-size: 10px;
}

td.smaller
{
   font-size: 6px;
}

td.large
{
   font-size: 16px;
}

td.larger
{
   font-size: 20px;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }

.small
{
   font-size: 10px;
}

.smaller
{
   font-size: 6px;
}

.large
{
   font-size: 16px;
}

.larger
{
   font-size: 20px;
}

.disabled
{
   color: gray;
}

.indented
{
   padding-left: 20pt;
   padding-right: 20pt;
}

.selected_panel
{
   background-color: #ddd;
   padding-top: 2px;
   padding-left: 10px;
   padding-right: 10px;
   border: 1px solid #bbb;
}

.list_highlight
{
   background-color: #ccc;
}

.full_width
{
   width: 100%;
   border: 1px solid #ccc;
}

#list_search td.list
{
   padding: 3px 7px;
}

td.list
{
   padding: 0px 7px;
   height: 28px;
}

#submit
{
   margin-top: 5px;
   text-align: center;
}

#footer
{
   left: 0px;
   bottom: 0px;
   width: 100%;
   font-size: 10px;
   border: 0px solid #000;
   position: absolute;
   _position: relative; /* KLUDGE: for display using IE 6 */
}

#debug
{
   left: 0px;
   top: 720px;
   width: 100%;
   font-size: 12px;
   text-align: left;
   border: 0px solid #000;
   position: absolute;
   _position: relative; /* KLUDGE: for display using IE 6 */
}

/* SCREEN  */
@media screen
{
   tr.invisible
   {
      display: none;
   }

   tr.odd_invisible
   {
      display: none;
   }

   tbody td.lowlight
   {
      color: gray;
   }

   tbody td.lowlight a:link
   {
      color: gray;
   }

   tbody td.lowlight a:active
   {
      color: gray;
   }

   tbody td.lowlight a:visited
   {
      color: gray;
   }

   tbody td.lowlight1
   {
      color: #066;
   }

   tbody td.lowlight1 a:link
   {
      color: #066;
   }

   tbody td.lowlight1 a:active
   {
      color: #066;
   }

   tbody td.lowlight1 a:visited
   {
      color: #066;
   }

   tbody td.highlight
   {
      color: red;
   }

   tbody td.highlight a:link
   {
      color: red;
   }

   tbody td.highlight a:active
   {
      color: red;
   }

   tbody td.highlight a:visited
   {
      color: red;
   }

   tbody td.highlight1
   {
      color: blue;
   }

   tbody td.highlight1 a:link
   {
      color: blue;
   }

   tbody td.highlight1 a:active
   {
      color: blue;
   }

   tbody td.highlight1 a:visited
   {
      color: blue;
   }

   tbody td.extralight
   {
      background: #ffe5cc;
   }

   tbody td.extralight a:link
   {
      background: #ffe5cc;
   }

   tbody td.extralight a:active
   {
      background: #ffe5cc;
   }

   tbody td.extralight a:visited
   {
      background: #ffe5cc;
   }

   tbody td.extralight1
   {
      background: #d9deea;
   }

   tbody td.extralight1 a:link
   {
      background: #d9deea;
   }

   tbody td.extralight1 a:active
   {
      background: #d9deea;
   }

   tbody td.extralight1 a:visited
   {
      background: #d9deea;
   }

   tbody th
   {
      background: #999;
   }

   tbody tf
   {
      background: #999;
   }

   tbody tr.odd td
   {
      background: #eee;
   }

   tbody tr.odd th
   {
      background: #ccc;
   }

   tbody tr.odd_data td
   {
      background: #eee;
   }

   tbody tr.odd_data td.extralight
   {
      background: #ffe5cc;
   }

   tbody tr.odd_data td.extralight a:link
   {
      background: #ffe5cc;
   }

   tbody tr.odd_data td.extralight a:active
   {
      background: #ffe5cc;
   }

   tbody tr.odd_data td.extralight a:visited
   {
      background: #ffe5cc;
   }

   tbody tr.odd_data td.extralight1
   {
      background: #d9deea;
   }

   tbody tr.odd_data td.extralight1 a:link
   {
      background: #d9deea;
   }

   tbody tr.odd_data td.extralight1 a:active
   {
      background: #d9deea;
   }

   tbody tr.odd_data td.extralight1 a:visited
   {
      background: #d9deea;
   }

   tbody tr.odd_error td
   {
      background: #eee;
   }

   tbody tr.lowlight td
   {
      color: gray;
   }

   tbody tr.lowlight td a:link
   {
      color: gray;
   }

   tbody tr.lowlight td a:active
   {
      color: gray;
   }

   tbody tr.lowlight td a:visited
   {
      color: gray;
   }

   tbody tr.lowlight td.extralight
   {
      background: #ffe5cc;
   }

   tbody tr.lowlight td.extralight a:link
   {
      background: #ffe5cc;
   }

   tbody tr.lowlight td.extralight a:active
   {
      background: #ffe5cc;
   }

   tbody tr.lowlight td.extralight a:visited
   {
      background: #ffe5cc;
   }

   tbody tr.lowlight td.extralight1
   {
      background: #d9deea;
   }

   tbody tr.lowlight td.extralight1 a:link
   {
      background: #d9deea;
   }

   tbody tr.lowlight td.extralight1 a:active
   {
      background: #d9deea;
   }

   tbody tr.lowlight td.extralight1 a:visited
   {
      background: #d9deea;
   }

   tbody tr.odd_lowlight td
   {
      color: gray;
      background: #eee;
   }

   tbody tr.odd_lowlight td a:link
   {
      color: gray;
      background: #eee;
   }

   tbody tr.odd_lowlight td a:active
   {
      color: gray;
      background: #eee;
   }

   tbody tr.odd_lowlight td a:visited
   {
      color: gray;
      background: #eee;
   }

   tbody tr.odd_lowlight td.extralight
   {
      background: #efd5bc;
   }

   tbody tr.odd_lowlight td.extralight a:link
   {
      background: #efd5bc;
   }

   tbody tr.odd_lowlight td.extralight a:active
   {
      background: #efd5bc;
   }

   tbody tr.odd_lowlight td.extralight a:visited
   {
      background: #efd5bc;
   }

   tbody tr.odd_lowlight td.extralight1
   {
      background: #c9ceda;
   }

   tbody tr.odd_lowlight td.extralight1 a:link
   {
      background: #c9ceda;
   }

   tbody tr.odd_lowlight td.extralight1 a:active
   {
      background: #c9ceda;
   }

   tbody tr.odd_lowlight td.extralight1 a:visited
   {
      background: #c9ceda;
   }

   tbody tr.lowlight1 td
   {
      color: #066;
   }

   tbody tr.lowlight1 td a:link
   {
      color: #066;
   }

   tbody tr.lowlight1 td a:active
   {
      color: #066;
   }

   tbody tr.lowlight1 td a:visited
   {
      color: #066;
   }

   tbody tr.odd_lowlight1 td
   {
      color: #066;
      background: #eee;
   }

   tbody tr.odd_lowlight1 td a:link
   {
      color: #066;
      background: #eee;
   }

   tbody tr.odd_lowlight1 td a:active
   {
      color: #066;
      background: #eee;
   }

   tbody tr.odd_lowlight1 td a:visited
   {
      color: #066;
      background: #eee;
   }

   tbody tr.highlight td
   {
      color: red;
   }

   tbody tr.highlight td a:link
   {
      color: red;
   }

   tbody tr.highlight td a:active
   {
      color: red;
   }

   tbody tr.highlight td a:visited
   {
      color: red;
   }

   tbody tr.odd_highlight td
   {
      color: red;
      background: #eee;
   }

   tbody tr.odd_highlight td a:link
   {
      color: red;
      background: #eee;
   }

   tbody tr.odd_highlight td a:active
   {
      color: red;
      background: #eee;
   }

   tbody tr.odd_highlight td a:visited
   {
      color: red;
      background: #eee;
   }

   tbody tr.highlight1 td
   {
      color: blue;
   }

   tbody tr.highlight1 td a:link
   {
      color: blue;
   }

   tbody tr.highlight1 td a:active
   {
      color: blue;
   }

   tbody tr.highlight1 td a:visited
   {
      color: blue;
   }

   tbody tr.odd_highlight1 td
   {
      color: blue;
      background: #eee;
   }

   tbody tr.odd_highlight1 td a:link
   {
      color: blue;
      background: #eee;
   }

   tbody tr.odd_highlight1 td a:active
   {
      color: blue;
      background: #eee;
   }

   tbody tr.odd_highlight1 td a:visited
   {
      color: blue;
      background: #eee;
   }

   tbody tr.extralight td
   {
      background: #ffe5cc;
   }

   tbody tr.extralight td a:link
   {
      background: #ffe5cc;
   }

   tbody tr.extralight td a:active
   {
      background: #ffe5cc;
   }

   tbody tr.extralight td a:visited
   {
      background: #ffe5cc;
   }

   tbody tr.odd_extralight td
   {
      background: #efd5bc;
   }

   tbody tr.odd_extralight td a:link
   {
      background: #efd5bc;
   }

   tbody tr.odd_extralight td a:active
   {
      background: #efd5bc;
   }

   tbody tr.odd_extralight td a:visited
   {
      background: #efd5bc;
   }

   tbody tr.extralight1 td
   {
      background: #d9deea;
   }

   tbody tr.extralight1 td a:link
   {
      background: #d9deea;
   }

   tbody tr.extralight1 td a:active
   {
      background: #d9deea;
   }

   tbody tr.extralight1 td a:visited
   {
      background: #d9deea;
   }

   tbody tr.odd_extralight1 td
   {
      background: #c9ceda;
   }

   tbody tr.odd_extralight1 td a:link
   {
      background: #c9ceda;
   }

   tbody tr.odd_extralight1 td a:active
   {
      background: #c9ceda;
   }

   tbody tr.odd_extralight1 td a:visited
   {
      background: #c9ceda;
   }
}
/* END SCREEN */

/*  PRINT */
@media print
{
   body
   {
      background-color: #fff;
   }

   p.footer
   {
      display: none;
   }

   p.screen
   {
      display: none;
   }

   tr.invisible
   {
      display: none;
   }

   tr.odd_invisible
   {
      display: none;
   }

   td.screen
   {
      display: none;
   }

   tbody td.invisible
   {
      display: none;
   }

   tbody td.odd_invisible
   {
      display: none;
   }

   tbody td.highlight
   {
      color: #000;
      font-weight: bold;
   }

   tbody td.highlight1
   {
      color: #000;
      font-weight: bold;
   }
      
   .list .highlight
   {
      color: #000;
   }
      
   #sidebar
   {
      display: none;
   }
      
   #remainder
   {
      width: 80%;
      border: 0px solid #000;
      margin: 0px auto;
      overflow: hidden;
   }
      
   #main h2
   {
      border-bottom: 1px solid #bbb;
      color: #000;
      line-height: 35px;
   }
      
   #nav
   {
      width: 100%;
      margin: 0px auto;
      border: 0px solid #000;
      text-align: left;

      color: #fff;
      height: 35px;
   }
      
   #main
   {
      float: none;
   }
}

#print_remainder
{
   width: 80%;
   border: 0px solid #000;
   margin: 0px auto;
   overflow: hidden;
}

#print_remainder #main
{
   float: none;
}
/* END PRINT */
