# If present ignore a 'tmp' file or directory.
tmp

# Ignore dependency files.
*.d
*.dep
*.inc

# Ignore object files.
*.o
*.obj

# Ignore libraries and executables.
*.a
*.so
*.dll
*.lib
*.exe
*.exp
bundle
calendar
check_source
ciyam_client
ciyam_interface
ciyam_server
construct
crypt
diff
diffp
extract
generate_commands
modeller
ods_dump
ods_fsed
test
test_blockchain
test_btree
test_cache
test_crypto_keys
test_fcgi
test_hash_chain
test_numeric
test_ods
test_parser
test_pdf_gen
test_sql
unbundle
upload
xrep
xvars

# Ignore generated header files.
*.cmh

# Ignore all log and lock files.
*.log
*.lck

# Except dummy log file template.
!app.log

# Ignore local files area
files

# Ignore locally generated config.
salt.h
config.h
config.info
autoscript.sio
manuscript.sio

# Ignore generated compile script.
compile.sh
compile.bat

# Ignore makefile generation files.
make.dtm
makefile
makefile.bcb
makefile.mvc
makefile.sio
makefile.vars.xrep

# Ignore all installed package files.
*.info
*.keys.lst
*.specs.sio
*_extkeys.txt
*.package.sio
for_*.spec.xrep
*_enum_icons.lst
*ciyam_class.cpp.xrep
create_demo_*_application.cin

# Except specs with matching file names.
!for_each.spec.xrep
!for_clone.spec.xrep
!for_destroy.spec.xrep
!for_auto_code.spec.xrep
!for_call_procs.spec.xrep
!for_each_record.spec.xrep
!for_clone_script.spec.xrep
!for_destroy_clone.spec.xrep
!for_move_children.spec.xrep
!for_auto_code_user.spec.xrep
!for_destroy_parent.spec.xrep
!for_send_email_notification.spec.xrep

# Ignore specific installed package files.
blog*.jpg
blog*.png
user*.jpg
user_*.txt
photo_*.jpg
gen_photo_*.xrep
Forum_*.png

# Ignore ciyam test storage and related.
ciyam.dat
ciyam.hdr
ciyam.idx
ciyam.sql
modules.lst
packages.lst
ciyam_server.dat
ciyam_server.hdr
ciyam_server.idx
ciyam_server.sid
ciyam_server.sio

# Ignore Meta storage and related
Meta.dat
Meta.hdr
Meta.idx
Meta.sql
Meta.modules.lst

# Ignore storage backups.
*.backup.bun.gz

# Ignore customised environment init file.
ciyam_init_cmd.bat

# Ignore any specific blockchain init files (except the sample one).
*.bc_init.cin
!27243366536.bc_init.cin

