# If present ignore a 'tmp' file or directory.
tmp

# Ignore typical prototype scripts or programs.
x
x.cin
x.cpp

# Ignore IP address files.
*.ip

# Ignore dependency files.
*.d
*.dep
*.inc

# Ignore object and target files.
*.a
*.o
*.so
bundle
calendar
check_source
ciyam_client
ciyam_interface
ciyam_server
construct
crypt
czip
diff
diffp
extract
generate_commands
modeller
ods_dump
ods_fsed
test
test_btree
test_cache
test_crypto_keys
test_fcgi
test_hash_chain
test_numeric
test_ods
test_parser
test_pdf_gen
test_sql
timezone
unbundle
upload
xrep
xvars

# Ignore generated header files.
*.cmh

# Ignore all log and lock files.
*.log
*.lck

# Except dummy log file template.
!app.log

# Ignore local files area.
files

# Ignore locally generated config.
config.h
config.info
autoscript.sio
manuscript.sio

# Ignore generated compile script.
compile.sh

# Ignore makefile generation files.
make.dtm
make.lst
makefile
makefile.sio
makefile.vars.xrep

# Ignore all installed package files.
*.info
*.keys.lst
*.abbrs.txt
*.algos.txt
*.specs.sio
*.steps.txt
3x3x3.*.cin
3x3x3.*.txt
*_extkeys.txt
*.package.sio
*.dead_keys.lst
*.demo_keys.lst
for_*.spec.xrep
*_enum_icons.lst
train_*_algos.cin
*ciyam_class.cpp.xrep
create_demo_*_application.cin
create_blockchain_*_application.cin

# Except specs with matching file names.
!password.info
!for_tag.spec.xrep
!for_each.spec.xrep
!for_clone.spec.xrep
!for_destroy.spec.xrep
!for_function.spec.xrep
!for_call_procs.spec.xrep
!for_clone_peer.spec.xrep
!for_run_script.spec.xrep
!for_each_record.spec.xrep
!for_unique_keys.spec.xrep
!for_clone_script.spec.xrep
!for_set_variable.spec.xrep
!for_skip_restore.spec.xrep
!for_update_clone.spec.xrep
!for_update_field.spec.xrep
!for_destroy_clone.spec.xrep
!for_move_children.spec.xrep
!for_destroy_parent.spec.xrep
!for_new_or_existing.spec.xrep
!for_call_parent_proc.spec.xrep
!for_run_child_script.spec.xrep
!for_destroy_clone_peer.spec.xrep
!for_call_proc_with_parent.spec.xrep
!for_parent_value_mismatch.spec.xrep
!for_send_email_notification.spec.xrep

# Ignore specific installed package files.
blog*.jpg
blog*.png
user*.jpg
user_*.txt
Forum_*.png
photo_*.jpg
gen_photo_*.xrep

# Ignore ciyam storage and related files.
ciyam.dat
ciyam.hdr
ciyam.idx
ciyam.sql
ciyam.tlg
ciyam.modules.lst

# Ignore ods_fsed storage files.
ods_fsed.dat
ods_fsed.hdr
ods_fsed.idx
ods_fsed.tlg

# Ignore Meta storage and related.
Meta.dat
Meta.hdr
Meta.idx
Meta.sql
Meta.tlg
Meta.modules.lst

# Ignore ciyam config files.
modules.lst
packages.lst
ciyam_ddns_info
ciyam_server.sid
ciyam_server.sio

# Ignore storage backups.
*.backup.bun.gz
*.backup_files.bun.gz

# Ignore PEM and service.
ciyam.pem
ciyam.service
