<Files ~ "\.(htms|sav|sio|sh)$">
 <IfModule mod_authz_core.c>
  Require all denied
 </IfModule>
</Files>

<Files "encrypted.txt">
 <IfModule mod_authz_core.c>
  Require all denied
 </IfModule>
</Files>

<Files "identity.txt">
 <IfModule mod_authz_core.c>
  Require all denied
 </IfModule>
</Files>
