[Unit]
Description=CIYAM Service
After=network.target

[Service]
Type=forking
Restart=always
RestartSec=10
User=tux
ExecStartPre=
ExecStart=/home/tux/ciyam/src/ciyam_server -daemon -chdir=/home/tux/ciyam/src
ExecStartPost=
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target

